<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>Leukelp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header (click)="chatDetails()">
      <ion-row>
        <ion-col col-3>
          <div class="profile_photo">
            <img src="assets/imgs/flower.jpg" class="center profileImg" >
          </div>
        </ion-col>
        <ion-col col-2>
          <h2>Lukemia News</h2>
          <ion-row>
            <ion-col class="userName">UserName</ion-col>
            <ion-col class="date">July 14,2018 17:30</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content (click)="chatDetails()">
      <p>Welcome to the Leukemia Cancer Group. This is a community group and is intended
        for Blood Cancer patients and their families.
      </p>
      <p>
        In this group...
      </p>
    </ion-card-content>


    <ion-row>

      <ion-col col-4>
        <button ion-button clear>
          <ion-icon name="eye"></ion-icon>
          <div class="mybutton" *ngIf="!isFollowing">Follow</div>
          <div class="mybutton" *ngIf="isFollowing">Following</div>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button clear (click)="share()">
          <ion-icon name="share"></ion-icon>
          <div class="mybutton">Share</div>
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button clear (click)="chatDetails()">
          <ion-icon name="chatbubbles"></ion-icon>
          <div class="mybutton">Chat</div>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>




  <ion-card>
      <ion-card-header>
        <ion-row>
          <ion-col col-3>
            <div class="profile_photo">
              <img src="assets/imgs/flower.jpg" class="center">
            </div>
          </ion-col>
          <ion-col col-2>
            <h2>Lukemia News</h2>
            <ion-row>
              <ion-col class="userName">UserName</ion-col>
              <ion-col class="date">July 14,2018 17:30</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <p>Welcome to the Leukemia Cancer Group. This is a community group and is intended
          for Blood Cancer patients and their families.
        </p>
        <p>
          In this group...
        </p>
      </ion-card-content>


      <ion-row>

          <ion-col col-4>
              <button ion-button clear>
                <ion-icon name="eye"></ion-icon>
                <div class="mybutton">View</div>
              </button>
            </ion-col>

            <ion-col col-4>
              <button ion-button clear>
                <ion-icon name="share"></ion-icon>
                <div class="mybutton">Share</div>
              </button>
            </ion-col>

            <ion-col col-4>
              <button ion-button clear (click)="chatDetails()">
                <ion-icon name="chatbubbles"></ion-icon>
                <div class="mybutton">Chat</div>
              </button>
            </ion-col>

      </ion-row>
    </ion-card>


    <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col col-3>
              <div class="profile_photo">
                <img src="assets/imgs/flower.jpg" class="center">
              </div>
            </ion-col>
            <ion-col col-2>
              <h2>Lukemia News</h2>
              <ion-row>
                <ion-col class="userName">UserName</ion-col>
                <ion-col class="date">July 14,2018 17:30</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <p>Welcome to the Leukemia Cancer Group. This is a community group and is intended
            for Blood Cancer patients and their families.
          </p>
          <p>
            In this group...
          </p>
        </ion-card-content>

        <ion-row>

            <ion-col col-4>
                <button ion-button clear>
                  <ion-icon name="eye"></ion-icon>
                  <div class="mybutton">View</div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button clear>
                  <ion-icon name="share"></ion-icon>
                  <div class="mybutton">Share</div>
                </button>
              </ion-col>

              <ion-col col-4>
                <button ion-button clear (click)="chatDetails()">
                  <ion-icon name="chatbubbles"></ion-icon>
                  <div class="mybutton">Chat</div>
                </button>
              </ion-col>

        </ion-row>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <h2 ion-text color="secondary">My Groups</h2>
          </ion-card-header>
          <ion-card-content>
            <p>Currently no joined groups</p>
            <button ion-button icon-left>
              <ion-icon name="search"></ion-icon>
              Find Groups
            </button>
          </ion-card-content>
        </ion-card>

</ion-content>
