// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.side-header {
  background-color:#488aff;
}

.profile {
    margin: 20px 0;

    width: 96px;
    height: 96px;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
  border-radius: 50%;
  background: transparent;
}

h3,h6 {
  text-align: center;
}
